<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Vagas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-icon name="add-outline"></ion-icon>
      <ion-label style="margin-left: 10px;">Nova vaga</ion-label>
    </ion-item>
    <ion-item *ngFor="let v of vagas">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <strong>Função</strong>
            </ion-col>
            <ion-col size="5">
              <strong>Data e hora</strong>
            </ion-col>
            <ion-col size="3">
              <strong>Total</strong>
            </ion-col>
          </ion-row>          
          <ion-row >
            <ion-col size="4">
              {{ v.funcao }}
            </ion-col>
            <ion-col size="5">
              {{ v.horario }}
            </ion-col>
            <ion-col size="3">
              {{ v.numeroVagasDisponiveis }}
            </ion-col>
          </ion-row> 
        </ion-grid>
      </ion-label>
    </ion-item>
    
  </ion-content>
</div>