ion-row {
    border: 1px solid #ddd;
    height: 100%;

    ion-col {
        position: relative;
        padding: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background-color: #ddd;
            transform: translateX(50%);
        }

        &:last-child::after {
            display: none; 
        }
    }
}