<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Funcionarios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-icon name="add-outline"></ion-icon>
      <ion-label style="margin-left: 10px;">Novo funcionario</ion-label>
    </ion-item>
    <ion-item *ngFor="let f of funcionarios">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <strong>Nome</strong>
            </ion-col>
            <ion-col size="3">
              <strong>Pontuação</strong>
            </ion-col>
            <ion-col size="3">
              <strong>Situação</strong>
            </ion-col>
          </ion-row>  
          <ion-row size="6">
            <ion-col>
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"
                style="width: 15px; height: 15px;" />
                {{ f.nome }}
            </ion-col>
            <ion-col size="3" class="alinhar">
               {{ f.pontuacao }}
            </ion-col>
            <ion-col size="3" class="alinhar">
              {{ f.situacaoId }}
            </ion-col>          
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-content>
</div>