<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <ion-item>
      <ion-label>
        <h1>Modo dark</h1>
      </ion-label>
      <ion-toggle slot="end" mode="ios" [checked]="darkMode"
      (ionChange)="toggleDarkMode()"> 
      </ion-toggle>
    </ion-item>
  </ion-content>
</div>